button {
    font-family: monospace;
    font-size: 1.5rem;
    color: #FAFAFA;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #514c4c;
    background: #252525;
    box-shadow: 3px 3px #454545;
    cursor: pointer;
    margin: 35px 0;
  }
  
  button:active {
    box-shadow: none;
    transform: translate(3px, 3px);
  }